<div class="form-cl">
    <div class="form-group">
        <label for="exampleInputEmail1">First Name*</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name" [(ngModel)]="firstName" [readonly]="!isReadOnly && timeSlot == userSelectedTimeSlot">
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Last Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name" [(ngModel)]="lastName" [readonly]="!isReadOnly && timeSlot == userSelectedTimeSlot">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Phone Number*</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number" [(ngModel)]="phoneNumber" [readonly]="!isReadOnly && timeSlot == userSelectedTimeSlot">
          </div>

         
          <div   *ngIf="isReadOnly" style="margin-bottom:1rem;">
              <select class="custom-select" [(ngModel)]="timeSlot">
                <option selected>Choose...</option>
                <option [value]="time" *ngFor="let time of timeSlots">{{time}}</option>
              </select>
            </div>
            <div class="input-group">
                <div class="custom-file">
                  
                  <input type="file" class="custom-file-input" id="inputGroupFile04" (change)="imageClick($event)">
                  <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
               
              </div>
              <div *ngIf="imagUrl" style="margin: 10px;">
                  <img [src]="imagUrl" class="imgage-class">

              </div>
              <div class="center-class" style="margin: 1rem;">
                  <span class="badge badge-danger badge-class ">{{alertMsg}}</span>
              </div>
</div>

<div class="buttons-class">
    <button type="button" class="btn btn-danger btn-lg margin-class" (click)="cancleClick()">Cancel</button>
    <button type="button" class="btn  btn-lg margin-class color-class" (click)="validationClick()" *ngIf="isReadOnly || !isButtonShow ">Save</button>
    <button type="button" class="btn  btn-lg margin-class color-class" (click)="editClick()" *ngIf="timeSlot == userSelectedTimeSlot && !isReadOnly">Edit</button>


</div>